<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>AquaEmi - Map</title>
        <meta name = "description" content = "[Description about AquaEmi]">
        <link rel = "stylesheet" type = "text/css" href = "news.css">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/b20eaf92de.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class = "navigation" id = "navigation">
            <nav>
                <div class = "navigation_bar" id = "navigation_bar">
                    <img src="imgs/logo.png" alt="AquaEmi's logo" style = "width: 12.5vw; height: 4.5vw;">
                    <div class = "navigation_keys" id = "navigation_keys">
                        <div class = "subjects" id = "subjects">
                            <p><a href = "index.html" title = "My water" style = "text-decoration: none; color: #00A66F;">My water</a></p>
                            <p><a href = "map.html" title = "Map" style = "text-decoration: none; color: #00A66F;">Map</a></p>
                            <p><a href = "index.html" title = "Travel" style = "text-decoration: none; color: #00A66F;">Travel</a></p>
                            <p><a href = "index.html" title = "News & Rankings" style = "text-decoration: none; color: #00A66F;">News & Rankings</a></p>
                            <p><a href = "info.html" title = "Info" style = "text-decoration: none; color: #00A66F;">Info</a></p>
                        </div>
                        <div class = "tools" id = "tools">
                            <a href = "index.html"><img src = "imgs/search.png" alt="AquaEmi's search icon" style = "width: 2vw"></a>
                            <a href = "index.html"><img src = "imgs/notifications.PNG" alt="AquaEmi's notifications icon" style = "width: 1.75vw"></a>
                            <a href = "index.html"><img src = "imgs/profile.PNG" alt="AquaEmi's profile icon" style = "width: 1.7vw;"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
        <section>
            <div class = "seperator"> </div>
            <div class = "ranking_and_news">
                <div class = "ranking_and_news_items"> <a href = "rank.html" style = "color: #000000; font-size: 2vw;" >Rankings</a> </div>
                <div class = "ranking_and_news_items"> <a href = "news.html" style = "color: #00A66F; font-size: 2vw;">News</a> </div>
            </div>

            <div class="content"> 
                <div class = "news"> 
                    <div class = "highlight">
                        <div class="leftcolumn">
                            <div class="card">
                                <img src="https://picsum.photos/900/600">
                                <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo?</h2>
                                <h5>Dec 7, 2017</h5>
                            </div>
                        </div>
                        <div class="rightcolumn">
                            <div class="card">
                                <img src="https://picsum.photos/300/100">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo?</h4>
                                <h7>Dec 7, 2017</h7>
                            </div>
                            <div class="card">
                                <img src="https://picsum.photos/300/100">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo?</h4>
                                <h7>Dec 7, 2017</h7>
                            </div>
                            <div class="card">
                                <img src="https://picsum.photos/300/100">
                                <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, nemo?</h4>
                                <h7>Dec 7, 2017</h7>
                            </div>
                        </div>
                    </div>

                    <div class = "newslist"> 
                        <table class="newstable">
                            <thead>
                                <tr>
                                    <th style="width:80%"></th>
                                    <th style="width:20%"></th>    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div>
                                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                            <h6>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, culpa..."</h6>
                                            <h7>Dec 7, 2017</h7>
                                        </div>
                                    </td>
                                    <td> <img src="https://picsum.photos/200/200"> </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div>
                                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                            <h6>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, culpa..."</h6>
                                            <h7>Dec 7, 2017</h7>
                                        </div>
                                    </td>
                                    <td> <img src="https://picsum.photos/200/200"> </td>
                                </tr>

                                <tr>
                                    <td>
                                        <div>
                                            <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                            <h6>"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, culpa..."</h6>
                                            <h7>Dec 7, 2017</h7>
                                        </div>
                                    </td>
                                    <td> <img src="https://picsum.photos/200/200"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <div class = "footer" id = "footer">
                <img src="imgs/logo.png" alt="AquaEmi's logo" style = "width: 20vw; height: 6.8; margin-top: 1vw">
                <div class = "subjects_footer" id = "subjects_footer">
                    <div class = "first" id = "first">
                        <p>Intro</p>
                        <p>My water</p>
                    </div>
                    <div class = "second" id = "second">
                        <p>Map</p>
                        <p>Travel</p>
                    </div>
                    <div class = "third" id = "third">
                        <p>News and Rankings</p>
                        <p>Profile and notifications</p>
                    </div>
                </div>
                <div class = "mailing_list" id = "mailing_list">
                    <p style = "font-size: 1.2vw; font-weight: bold; color: #008A5C">JOIN OUR MAILING LIST!</p>
                    <input type = "email" class = "email_mailing" id = "email" name = "email" placeholder="Email address">
                    <i class="fa-solid fa-arrow-right" style="color: #008a5c;"></i><br>
                    <div class = "social_media" id = "social_media">
                        <i class="fa-brands fa-square-instagram fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                        <i class="fa-brands fa-pinterest fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                        <i class="fa-brands fa-twitter fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                        <i class="fa-brands fa-facebook fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>