<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>AquaEmi - News</title>
        <meta name = "description" content = "[Description about AquaEmi]">
        <link rel = "stylesheet" type = "text/css" href = "../static/news.css">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/b20eaf92de.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class = "navigation" id = "navigation">
            <nav>
                <div class = "navigation_bar" id = "navigation_bar">
                    <img src="../static/images/logo.png" alt="AquaEmi's logo" style = "width: 12.5vw; height: 4.5vw;">
                    <div class = "navigation_keys" id = "navigation_keys">
                        <div class = "subjects" id = "subjects">
                            <p><a href = "index" title = "My water" style = "text-decoration: none; color: #00A66F;">My water</a></p>
                            <p><a href = "map" title = "Map" style = "text-decoration: none; color: #00A66F;">Map</a></p>
                            <p><a href = "travel" title = "Travel" style = "text-decoration: none; color: #00A66F;">Travel</a></p>
                            <p><a href = "news" title = "News & Rankings" style = "text-decoration: none; color: #00A66F;">News & Rankings</a></p>
                            <p><a href = "info" title = "Info" style = "text-decoration: none; color: #00A66F;">Info</a></p>
                        </div>
                        <div class = "tools" id = "tools">
                            <a href = "index"><img src = "../static/images/search.png" alt="AquaEmi's search icon" style = "width: 2vw"></a>
                            <a href = "index"><img src = "../static/images/notifications.PNG" alt="AquaEmi's notifications icon" style = "width: 1.75vw"></a>
                            <a href = "index"><img src = "../static/images/profile.PNG" alt="AquaEmi's profile icon" style = "width: 1.7vw;"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
        <section>
            <div class = "content" id = "content">
                <div class = "small_navigation" id = "small_navigation">
                    <div class = "news_navigation" id = "news_navigation"><a href = "news" style = "color:#00C986;">News</a></div>
                    <div class = "rankings_navigation" id = "rankings_navigation"><a href = "rankings">Rankings</a></div>
                </div>
                <div class = "news_content" id = "news_content">
                    <div class = "headline" id = "headline">
                        <a href = "article1.html"><img src = "../static/images/article1.png" alt="AquaEmi's first article" style = "width: 100%; height: 70%;"></a>
                        <a href = "article1.html" class = "name"><p style = "font-size: 2vw; font-weight: bold; margin-left: 0.5vw; margin-top: 1vw;">US agency takes unprecedented action to tackle PFAS water pollution</p>
                        <a href = "article1.html"><p style = "font-size: 1vw; margin-top: -1vw; margin-left: 0.5vw; font-style: italic;">"The US Environmental Protection Agency is taking unprecedented enforcement action over PFAS water pollution by ordering..."</p></a>
                        <a href = "article1.html"><p style = "font-size: 1vw; color: #00A66F; margin-left: 0.5vw">2 hours ago</p></a>
                    </div>
                    <div class = "headline_others" id = "headline_others">
                        <div class = "small_article" id = "small_article">
                            <a href = "article2.html"><img src="../static/images/article2.png" alt="AquaEmi's second article" style = "width: 100%; height: 90%;"></a>
                            <a href = "article2.html" class = "name"><p style = "font-size: 1vw; font-weight: bold; margin: 0.3vw 0.2vw 0 0.3vw">The Pacific Ocean's seabed could soon be open for deep-sea mining</p></a>
                            <a href = "article2.html"><p style = "font-size: 0.6vw; color: #00A66F; margin: 0.3vw 0.2vw 0 0.3vw">7 hours ago</p></a>
                        </div>
                        <div class = "small_article" id = "small_article">
                            <a href = "article3.html"><img src="../static/images/article3.png" alt="AquaEmi's third article" style = "width: 100%; height: 90%;"></a>
                            <a href = "article3.html" class = "name"><p style = "font-size: 1vw; font-weight: bold; margin: 0.3vw 0.2vw 0 0.3vw">More than 170 trillion plastic particles found in the ocean as pollution reaches ‘unprecedented’ levels</p></a>
                            <a href = "article3.html"><p style = "font-size: 0.6vw; color: #00A66F; margin: 0.3vw 0.2vw 0 0.3vw">A day ago</p></a>
                        </div>
                        <div class = "small_article" id = "small_article">
                            <a href = "article4.html"><img src="../static/images/article4.png" alt="AquaEmi's fourth article" style = "width: 100%; height: 90%;"></a>
                            <a href = "article4.html" class = "name"><p style = "font-size: 1vw; font-weight: bold; margin: 0.3vw 0.2vw 0 0.3vw">Vietnam's groundwater is increasingly polluted</p></a>
                            <a href = "article4.html"><p style = "font-size: 0.6vw; color: #00A66F; margin: 0.3vw 0.2vw 0 0.3vw">Two days ago</p></a>
                        </div>
                    </div>
                </div>
                <div class = "other_articles" id = "other_articles">
                    <img src="../static/images/article5.png" alt="AquaEmi's fifth article" style = "width: 30%; height: 20%;">
                    <div class = "review_article" id = "review_article">
                        <a href = "article5.html" class = "name"><p style = "font-size: 1.5vw; font-weight: bold; margin: 0.3vw 0.2vw 0 1vw">More than 170 trillion plastic particles found in the ocean as pollution reaches ‘unprecedented’ levels</p></a>
                        <a href = "article5.html"><p style = "font-size: 1vw; margin-left: 1vw; font-style: italic;">"Water is an invaluable resource, essential for all life forms on Earth. However, with the growth of human activities, water pollution has become a pressing global issue. The contamination of water bodies by pollutants poses significant threats to..."</p></a>
                        <a href = "article5.html"><p style = "font-size: 0.8vw; margin: -0.5vw 0.2vw 0 1vw; color: #00A66F">Sat, July 29, 2023</p></a>
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class = "footer" id = "footer">
                <img src="../static/images/logo.png" alt="AquaEmi's logo" style = "width: 19vw; height: 6.5vw; margin-top: 1.3vw">
                <div class = "subjects_footer" id = "subjects_footer">
                    <div class = "first" id = "first">
                        <p>Intro</p>
                        <p>My water</p>
                    </div>
                    <div class = "second" id = "second">
                        <p>Map</p>
                        <p>Travel</p>
                    </div>
                    <div class = "third" id = "third">
                        <p>News and Rankings</p>
                        <p>Profile and notifications</p>
                    </div>
                </div>
                <div class = "mailing_list" id = "mailing_list">
                    <p style = "font-size: 1.2vw; font-weight: bold; color: #008A5C">JOIN OUR MAILING LIST!</p>
                    <input type = "email" class = "email_mailing" id = "email" name = "email" placeholder="Email address">
                    <i class="fa-solid fa-arrow-right" style="color: #008a5c;"></i><br>
                    <div class = "social_media" id = "social_media">
                        <i class="fa-brands fa-square-instagram fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                        <i class="fa-brands fa-pinterest fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                        <i class="fa-brands fa-twitter fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                        <i class="fa-brands fa-facebook fa-lg" style="color: #01a26d; margin: 0 0.5vw"></i>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>