@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

body {
    background-color: #ffffff;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}

.navigation {
    padding: 0.5vw;
    display: flex;
    background-color: #fff;
    border-bottom: 0.2vw solid #00C986;
    box-shadow: rgba(86, 156, 114, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.navigation_bar {
    padding: 0.1vw;
    display: flex;
}

.navigation_keys {
    margin: 2.5vw;
    display: flex;
    position: absolute;
    right: 0;
}

.navigation_keys .subjects {
    display: flex;
    margin: -2.3vw 15vw;
}

.navigation_keys .subjects p {
    font-size: 1.3vw;
    font-weight: bold;
    padding: 0 2vw;
}

.navigation_keys .tools {
    margin: -1.5vw -1.5vw 0.5vw 3vw;
}

.navigation_keys .tools a {
    margin-left: 1vw;
}

.content {
    padding: 1vw;
    box-shadow: rgba(86, 156, 114, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.footer {
    display: flex;
    padding: 1vw 8vw;
    border-top: 0.2vw solid #00C986;
}

.subjects_footer {
    padding-top: 1vw;
    display: flex;
}

.subjects_footer .first {
    padding: 0.1vw 4vw;
    font-size: 1.2vw;
}

.footer .second {
    padding: 0.1vw 4vw;
    font-size: 1.2vw;
}

.footer .third {
    padding: 0.1vw 4vw;
    font-size: 1.2vw;
}

.mailing_list {
    margin-left: 3vw;
}

.mailing_list .email_mailing {
    margin: -3vw 0 0 -1vw;
    width: 15vw;
    height: 1vw;
    font-size: medium;
    border: none;
    padding: 0.5vw;
    border-bottom: 0.15vw solid #000;
}

.mailing_list .social_media {
    margin-top: 1vw;
}

.aqi-legend {
    padding: 4px 8px 16px;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    flex: 1;
    line-height: 14px;
    color: #fff;
    gap: 2px
}

.aqi-legend.black-text {
    color: rgba(0, 0, 0, .6);
    font-weight: 500
}

.aqi-legend-container {
    display: flex;
    gap: 12px;
    flex-direction: column
}

.aqi-legend-title {
    display: flex;
    align-items: center;
    font-size: 2vw;
    font-weight: 500;
    white-space: nowrap;
    justify-content: space-between
}

.aqi-legend-wrapper {
    display: flex;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    transform-origin: top
}

body {
    margin: 0;
    font-weight: 400;
    background-color: #fff;
    text-rendering: optimizeLegibility
}

* {
    margin: 0;
    padding: 0;
    list-style: none
}

.bg-green {
    background-color: #9cd84e
}

.bg-yellow {
    background-color: #facf39
}

.bg-orange {
    background-color: #f99049
}

.bg-red {
    background-color: #f65e5f
}

.bg-purple {
    background-color: #a070b6
}

.bg-maroon {
    background: #a06a7b
}

.ranking-city {
    display: flex; 
    flex-direction: column;
}

.ranklist {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ranklist th,
.ranklist td {
    padding: 12px 15px;
}

.ranklist tbody tr {
    border-bottom: 1px solid #dddddd;
}

.aqi-number {
    text-align: center;
    border-radius: 4px;
    color: #fff;
}

.country-flag {
    scale: 50%;
}

.ranking_and_news {
    padding: 2vw;
    background-color: #25F6B11A;
    display: flex;
    flex-direction: row;
}

.seperator {
    padding: 1vw;
}

.ranking_and_news_items {
    width: 50%;
    text-align: center;
}

.ranking_and_news_items_text {
    color: #00A66F;
    font-size: 2vw;
}